[core]
	sshCommand = C:/windows/System32/OpenSSH/ssh.exe
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Toma Becea
	email = tomabecea@pm.me
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  aa = add -A
  cm = commit -m
  pu = push origin master
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

