[core]
	sshCommand = C:/windows/System32/OpenSSH/ssh.exe
	whitespace = cr-at-eol
	autocrlf = true
	excludesfile = C:\\Users\\toma_becea\\Documents\\gitignore_global.txt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Toma Becea
	email = tomabecea@pm.me
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  aa = add -A
  cm = commit -m
  pu = push origin
  sw = switch
  rc = rebase --continue
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

